

@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    /* Si tienes otros formatos de archivo, agrega líneas src adicionales */
    font-weight: normal;
    font-style: normal;
}

  /* Asegura que la imagen ocupe toda la altura de la ventana */
.full-height {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

/* Hace que el navbar sea fijo */
.navbar {
    position: fixed;
    top: 0;
    left: 10%;
    width: 70%;
    z-index: 9999; /* Asegura que el navbar esté por encima de otros elementos */
    margin: 0 auto;
    color: white;
    background-color: black; /* Fondo semitransparente */
}

/* Estilo del contenedor principal */
.content-container {
    display: flex;
}

.content-container2 {
    background-color: white;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    padding: 20px; /* Agrega espacio alrededor de las tarjetas */
}

.row.justify-content-center {
    max-width: 100%; /* Asegura que las tarjetas no excedan el ancho del contenedor */
}


/* Alinea el texto a la derecha */
.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbdbdb;
    flex-grow: 1;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.card{
    border: none !important;
}

.text-content {
    font-family: 'MiFuente';
    font-size: 30px;
    position: relative; /* Permite control de posición dentro del contenedor */
    width: 100%; /* Mantiene el ancho */
    max-width: 60%; /* Limita el ancho si es necesario */
}


.erase {
    animation: eraseText 2s steps(20) forwards;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

@keyframes eraseText {
    from { width: 100%; }
    to { width: 0; }
}

.new-text {
    animation: typing 2s steps(24) forwards; /* Ajusta steps al número de caracteres */
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}


/* Color gris para los items no seleccionados */
.navbar-nav .nav-link {
    color: gray;
}

/* Color blanco para el item seleccionado */
.navbar-nav .nav-link.active {
    color: white;
}
/* Keyframe para el desvanecimiento */
@keyframes fadeIn {
    0% {
        opacity: 0; /* Inicia invisible */
    }
    100% {
        opacity: 2; /* Termina completamente visible */
    }
}

/* Aplicar la animación a la imagen */
.img-fluid {
    animation: fadeIn 2s ease-in-out; /* Duración de 2 segundos, tipo de transición 'ease-in-out' */
}

.card-text{
    font-family: 'MiFuente';
    font-size: 30px;
}

.card-title{
    font-family: 'MiFuente';
    font-size: 40px;
}